
bin/Debug/CommonServiceLocator.dll
bin/Debug/GalaSoft.MvvmLight.dll
bin/Debug/GalaSoft.MvvmLight.Extras.dll
bin/Debug/GalaSoft.MvvmLight.Extras.pdb
bin/Debug/GalaSoft.MvvmLight.Extras.xml
bin/Debug/GalaSoft.MvvmLight.pdb
bin/Debug/GalaSoft.MvvmLight.Platform.dll
bin/Debug/GalaSoft.MvvmLight.Platform.pdb
bin/Debug/GalaSoft.MvvmLight.Platform.xml
bin/Debug/GalaSoft.MvvmLight.xml
bin/Debug/Linnworks_API.exe
bin/Debug/Linnworks_API.exe.config
bin/Debug/Linnworks_API.pdb
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/RestSharp.dll
bin/Debug/System.Windows.Interactivity.dll
/.vs/Linnworks_API/v15
/obj/Debug
/packages
